<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joel_64.apppnp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_policia"
        android:label="Policia Peruana"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PreloadActivity"
            android:label="Policia Peruana"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Acceso"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegistroActivity"
            android:label="Registro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PrincipalActivity"
            android:label="Muro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>